<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MundoPC</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Img/png")
    @Styles.Render("~/Img/jpg")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="fondo-login">
    <header class="menu-mobil">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="~/Img/menu.png" alt=""></label>
        <nav class="menu">
            <ul>
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Productos", "productos", "Home")</li>
                <li>@Html.ActionLink("Mis compras", "mis_compras", "Home")</li>
                <li>@Html.ActionLink("Carrito", "carrito", "Home")</li>
                <li>@Html.ActionLink("Ingresar", "login", "Home")</li>
                <li>@Html.ActionLink("Registro", "Create", "usuarios")</li>
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.Partial("_LoginPartial")</li>*@
            </ul>
        </nav>
    </header>
    
        @RenderBody()
        <footer class="footer">
            <p>MundoPC &copy; @DateTime.Now.Year - Todos los derechos reservados</p>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
