<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>MundoPC</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/estilos.css")
    @Styles.Render("~/Img/png")
    @Styles.Render("~/Img/jpg")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="fondo-login">
    <header class="menu-mobil">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="~/Img/menu.png" alt=""></label>
        <nav class="menu">
            <ul>
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Productos", "productos", "Home")</li>
                <li>@Html.ActionLink("Mis compras", "mis_compras", "Home")</li>
                <li>@Html.ActionLink("Carrito", "carrito", "Home")</li>

                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </nav>
    </header>

    @RenderBody()
    <div class="shadow-lg">
        <footer class="footer text-center text-light">
            <p>MundoPC &copy; @DateTime.Now.Year - Todos los derechos reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
